.italic {
    font-style: italic;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-child {
    flex: 1;
    text-align: left;
    margin: 10px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-intro, .facts, .portfolio__skills, .image {
    text-align: left;
}

h2, h3, .skill {
    font-weight: bold;
}

.skills-level {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
