.portfolio__footer {
    margin-top: auto;
    margin-bottom: 10%;
}

.copyright {
    font-size: 12px;
}

span {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    margin-left: 5px;
}
