.portfolio__sidebar {
    background-color: #040b14;
    color: #fff;
    font-size: 15px;
}

@media only screen and (max-width : 554px) {
    .portfolio__sidebar {
        width: 100vw;
        max-width: 100vh;
    }
  }

.portfolio__sidebar a {
    color: #fff;
}