@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: navy;
}

.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.root {
  width: 100%;
}

.portfolio__sidebar {
  display: flex;
  flex-direction: column;
  background-color: #040B14;
  text-align: center;
  align-items: top;
  justify-content: left;
  padding: 0 60px;
  overflow-y: auto;
}

@media only screen and (min-width : 555px) {
  .portfolio__sidebar {
      height: 100vh;
      position: fixed;
      width: 400px;
  }
}

.contact-map {
  width: 800px;
  height: 600px;
}

.portfolio__avatar {
  border-radius: 50%;
  border: 8px solid #2c2f3f;
}

.portfolio__menu, a {
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  color: #a8a9b4;
}

.portfolio__menu, a:hover {
  color: #FFFFFF;
}

.sidebar {
  min-width: 300px;  
}

.content {
  flex-grow: 2;
}

@media only screen and (min-width : 555px) {
  .content {
    margin-left: 400px;
  }
}