.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d5ddeb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portfolio__sidebar {
  display: flex;
  flex-direction: column;
  /* width: 300px; */
  max-width: 25%;
  height: 100%;
  background-color: #040B14;
  text-align: center;
  align-items: top;
  justify-content: left;
  position: fixed;
  padding: 0 60px;
  /* padding: 0;
  margin: 0; */
  overflow-y: auto;
}

.contact-map {
  width: 800px;
  height: 600px;
}

.portfolio__avatar {
  border-radius: 50%;
  border: 8px solid #2c2f3f;
}

.portfolio__menu, a {
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  color: #a8a9b4;
}

.portfolio__menu, a:hover {
  color: #FFFFFF;
}

.sidebar {
  float: left;
  /* padding: 0;
  margin: 0; */
}

.content {
  float: right;
  max-width: 75%;
  /* padding: 0;
  margin: 0; */
}